{% extends 'blog/base.html' %}

{% block content %}

    {% if form.errors %}
        <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해 주세요.</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <button type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

{% endblock %}